<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radio-API</title>
    <link rel="stylesheet" href="/app.css">
</head>

<body>
  
    <div>
        <div>
            <form action="/" method="post">
                <label for="1">Class 1:</label>
                <input type="radio" name="c" id="1" value="1">
                <label for="2">Class 2:</label>
                <input type="radio" name="c" id="2" value="2">
                <label for="3">Class 3:</label>
                <input type="radio" name="c" id="3" value="3">
            </form>
        </div>

        <div>
            <form action="#">
                <select name="sub" id="unique">
                    <option value="null">please select class first</option>
                </select>
            </form>
        </div>

    </div>
    <script src="/JS/app.js"></script>
</body>

</html>