<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Updata your data from here</title>
</head>
<body>
    <div class="container">
        <h1>Update form</h1>
    </div>
    <hr>
    <form action="/api/update?_method=PATCH" method = "PATCH" id ="myform">
        <label for="pass1">Old Password:</label>
        <input type="password" name="pass1" id=""> <br>
        <label for="pass">New Password:</label>
        <input type="password" name="pass" id=""> <br>
        <label for="passc">Confirm Password:</label>
        <input type="password" name="passc" id=""> <br>
        <input type="submit" value="Update">
    </form>
    <a href="/dash">Back to dashboard</a>
    <script src="/js/update.js"></script>
</body>
</html>